@font-face {
  font-family: 'Circular';
  src:
    url('./Circular-Book.woff2') format('woff2'),
    url('./Circular-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src:
    url('./Circular-Medium.woff2') format('woff2'),
    url('./Circular-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src:
    url('./Circular-Bold.woff2') format('woff2'),
    url('./Circular-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
